* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
}
.form {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 10px;
  margin-top: 10px;
}




.input {
  max-width: 300px;
  width: 100%;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.addButton {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #3efc21;
  color: white;
  cursor: pointer;
  margin-right: 8px; 
}

.clearButton {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #ff0000;
  color: white;
  cursor: pointer;
}

.lastAdded {
  margin-bottom: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e0f7fa;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px 0;
  background-color: #f9f9f9;
}

.completedCard {
  background-color: #d4edda;
}

.completed {
  background-color: green;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.notCompleted {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
